<div class="row">
  <p *ngIf='this.userMail==""'>Nous n'etes pas connecté veuillez vous connecter ou vous rendre à l'accueil !</p>
  <button *ngIf='this.userMail!=""' (click)="versBiens()"> Retour</button>
</div>
<div class="row" *ngIf='this.userMail!=""'>

  Emprunt d'un bien : <br />
  {{proprietaire.nom}} {{proprietaire.prenom}} <br />

  à l'adresse : {{proprietaire.adresse}} <br /><br />

  Descriptif du bien : <br />

  {{information.descriptif}} <br /><br />

  Type : <br />

  {{information.type}} <br /><br />

  Photo : <br />

  <img [src]="information.photo" /> <br /><br />

  Prix neuf : <br />

  {{information.prix_neuf}} <br /><br />

  <div *ngIf='this.userMail!=""'>
    <div *ngIf='information.derniereUtilisation != null'>
      <div *ngIf='membre.statut != "bloquer"
                    && information.derniereUtilisation["statut"] != "attente"
                    && information.derniereUtilisation["statut"] != "en_cours"'>
        <button [disabled]="this.userMail == proprietaire.email" (click)="emprunt()">Emprunter</button>
      </div>
      <div *ngIf='membre.statut != "bloquer"
                    && (information.derniereUtilisation["statut"] == "attente"
                    || information.derniereUtilisation["statut"] == "en_cours")'>
        <p *ngIf='information.derniereUtilisation["email"] == this.userMail'>
          Vous empruntez cet objet, veuillez contacter le propriétaire pour plus d'informations <br>
          Mail du propriétaire : {{this.userMail}}
        </p>
        <p *ngIf='information.derniereUtilisation["email"] != this.userMail'>
          <button disabled="disabled">INDISPONIBLE</button>
        </p>
      </div>
    </div>
    <button *ngIf='information.derniereUtilisation == null && membre.statut != "bloquer"' [disabled]="this.userMail == proprietaire.email" (click)="emprunt()">Emprunter</button>
    <p *ngIf='membre.statut == "bloquer"'>
      Compte bloqué, vous ne pouvez pas emprunter <br>
      Veuillez contacter <a href="mailto:admin@allovoisin.fr">admin@allovoisin.fr</a>
    </p>
  </div>

</div>
