<div class="row">
  <p *ngIf='this.userMail==""'>Nous n'etes pas connecté veuillez vous connecter ou vous rendre à l'accueil !</p>
  <button *ngIf='this.userMail!=""' (click)="versCreationBien()">Nouveau bien</button>
</div>
<div class="row" *ngIf='this.userMail!=""'>

  Voici la liste de vos biens :


  <table id="monTableau" class="table table-bordered table-striped">
      <thead>
    <tr>
      <th>Descriptif</th>
      <th>Type</th>
      <th>Mots clés</th>
      <th>Prix neuf</th>
      <th>Status</th>
      <th>Voir</th>
      <th>Modifier </th>
      <th> Supprimer </th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let bien of biens">

      <td>{{bien.descriptif}}</td>
      <td>{{bien.type}}</td>
      <td>{{bien.mots_clefs}}</td>
      <td>{{bien.prix_neuf}}</td>
      <td>
        <div *ngIf="bien['listeBiensUtilisations'].length != 0">
          <p *ngIf="bien['listeBiensUtilisations'][bien['listeBiensUtilisations'].length - 1].status =='attente'">DEMANDE D'EMPRUNT</p>
          <p *ngIf="bien['listeBiensUtilisations'][bien['listeBiensUtilisations'].length - 1].status =='termine'">DISPONIBLE</p>
          <p *ngIf="bien['listeBiensUtilisations'][bien['listeBiensUtilisations'].length - 1].status =='en_cours'">EN COURS D'EMPRUNT</p>
        </div>
        <div *ngIf="bien['listeBiensUtilisations'].length == 0">
          DISPONIBLE
        </div>
      </td>
      <td> <button (click)="inscription(bien._id)" width="50px" height="50px">Voir</button> </td>
      <td> <button (click)="modification(bien._id)">Modifier</button> </td>
      <td> <button (click)="suppression(bien._id)">Supprimer</button> </td>

    </tr>
</tbody>

  </table>
