<div name='formulaireInscription' class="formulaire">
    Pour rejoindre notre communauté veuillez remplir ce formulaire :

    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <label for="nom"> Nom * :</label>
        <input type="text" id="nom" name="nom" ngModel required />
        <label for="prenom"> Prénom * :</label>
        <input type="text" id="prenom" name="prenom" ngModel required/>
        <label for="email"> email * :</label>
        <input type="email" id="email" name="email" ngModel required/>
        <label for="ville"> Ville *:</label>
        <input type="text" id="ville" name="ville" ngModel required/>
        <label for="adresse"> Adresse *:</label>
        <input type="text" id="adresse" name="adresse" ngModel required/>
        <label for="telephone"> Télephone *:</label>
        <input type="tel" id="telephone" name="telephone" ngModel required/>

        <button class="" type="submit">Enregistrer</button>
        <button type="button" name="" (click)="retourAccueil()"> Annuler </button>






    </form>
</div>
