<div>
    On peut :
    <ol>
        <li>S'inscrire</li>
        <li>Se connecter : <ol><li>admin admin</li><li>user user</li></ol></li>
        <li>Lister les competences</li>
        <li>Voir ses competences (si connecté)</li>
        <li>Ajouter une competence</li>
        <li>Modifier une compétence</li>
        <li>Ajouter ou supprimer des dates pour une compétences</li>
        <li>Supprimer une competence</li>

        <li>Bloquer et debloquer un utilisateur (si connecter en admin)</li>

    </ol>

    Il manque :
    <ol>
        <li>La recherche </li>
        <li>La modification d'un membre (bugger)</li>
        <li>La vérification des saisies utilisateur</li>
        <li>Le listing des biens par ville </li>

    </ol>


</div>
