<div>
    On peut :

    Partie Aurélien :
    <ol>
        <li>S'inscrire</li>
        <li>Modifier un membre</li>
        <li>Se connecter : <ol><li>admin admin</li><li>user user</li></ol></li>
        <li>Lister les competences</li>
        <li>Lister les competences selon la ville de l'utilisateur</li>
        <li>Voir ses competences (si connecté)</li>
        <li>Ajouter une competence</li>
        <li>Modifier une compétence</li>
        <li>Ajouter ou supprimer des dates pour une compétences</li>
        <li>Supprimer une competence</li>
        <li>Recherche</li>

        <li>Bloquer et debloquer un utilisateur (si connecter en admin)</li>

    </ol>

    Partie Sofian : <br/>




    Il manque :
    <ol>
        <li>La vérification des saisies utilisateur</li>
        <li>Le listing des biens par ville </li>

    </ol>


    Si nécessaire ajout des dépendance avec npm :  <br/>


npm install bootstrap@4.0.0-beta.2 --save --save-exact  <br/>
npm install datatables.net --save  <br/>
npm install datatables.net-bs4 --save  <br/>
npm install jquery --save  <br/>
npm install @types/jquery --save-dev  <br/>



</div>
