<div class="row">

    <button *ngIf='isAuth==true' (click)="versMesBiens()"> Mes biens</button>
</div>
<div class="row">

      Voici la liste des biens :


      <table id="monTableau" class="table table-bordered table-striped">
          <thead>

      			<tr>
      				<th>Descriptif</th>
                    <th>Type</th>
      				<th>Mots clés</th>
                    <th>Prix neuf</th>
                    <th>Status</th>
      				<th>Voir</th>

      			</tr>
            </thead>
            <tbody>


                  <tr *ngFor="let bien of biens">

                     <td>{{bien.descriptif}}</td>
                     <td>{{bien.type}}</td>
                     <td>{{bien.mots_clefs}}</td>
                     <td>{{bien.prix_neuf}}</td>
                     <td>
                         <div *ngIf="bien['listeBiensUtilisations'].length != 0">
                             <p *ngIf="bien['listeBiensUtilisations'][bien['listeBiensUtilisations'].length - 1].statut =='attente'">INDISPONIBLE</p>
                             <p *ngIf="bien['listeBiensUtilisations'][bien['listeBiensUtilisations'].length - 1].statut =='termine'">DISPONIBLE</p>
                             <p *ngIf="bien['listeBiensUtilisations'][bien['listeBiensUtilisations'].length - 1].statut =='en_cours'">INDISPONIBLE</p>
                         </div>
                         <div *ngIf="bien['listeBiensUtilisations'].length == 0">
                             DISPONIBLE
                         </div>
                     </td>
                     <td> <button (click)="inscription(bien._id)" width="50px" height="50px">Voir</button> </td>


                  </tr>
              </tbody>

      		</table>
</div>
