    <header class="row">
        <div class="row">

            <div class="col-lg-offset-2 col-lg-6">
				<h1>Bienvenue sur le site d' {{title}} !</h1>
			</div>

            <div class=" col-lg-offset-1 col-lg-3">
                <app-authentification (changeUser)="modifUser()"
                (isAdmin)="isAdmin($event)" ></app-authentification>
<!-- [isAuth]=isAuth [email]=userMail
(change)="modifLogIn($event);" (changeUser)="modifUser($event)"
(changeRole)="modifRole($event)" -->
            </div>


        </div>
        <div class="row" *ngIf='this.userMail!=""'>
            <div class="col-lg-offset-9 col-lg-3">
                <div class="rox">
                    <button (click)="gestionEmprunts()">Gestion des emprunts</button>
                    <button (click)="mesEmprunts()">Mes emprunts</button>
                </div>
                <div class="rox">
                    <button (click)="gestionServices()">Gestion des services</button>
                    <button (click)="mesServices()">Mes services</button>
                </div>

            </div>

        </div>
        <div class="row">
            <nav class="navbar navbar-default">
              <div class="container-fluid">
                <div class="navbar-collapse">
                  <ul class="nav navbar-nav">
                    <li> <a routerLink="">Accueil</a> </li>
                    <li> <a routerLink="listeBien">Les biens</a></li>
                    <li> <a routerLink="listeCompetence">Les competences</a></li>
                    <li *ngIf='role=="admin"'><a routerLink="gestionAdmin">Admin ({{this.adminNombre}})</a></li>
                  </ul>
                </div>
              </div>
            </nav>

        </div>
    </header>


            <router-outlet></router-outlet>







<!--
<div> <app-biens></app-biens> </div>
<div>
    <table>
        <tr><td><app-membres></app-membres></td></tr>
        <tr> <td> <label> Nom </label> <input type="text" [(ngModel)]="nom" /> {{nom}}</td>
        <tr>
        <tr> <td><app-recherche-membre [nomDuMembre]="nom"></app-recherche-membre></td> </tr>
    </table>
</div>
<div>

    <app-inscription-membre></app-inscription-membre>
</div> -->
