<div class="row">

    <button *ngIf='isAuth==true' (click)="versMesCompetences()"> Mes compétences</button>
</div>
<div class="row">

    <div class="row" *ngIf='voirTout==true'>
        <div class="col-lg-offset-1 col-lg-5">
            Voici la liste de toutes les compétences
        </div>
        <div class="col-lg-offset-1 col-lg-2">
            <button *ngIf='isAuth==true' (click)="voirLocal()"> Voir seulement dans ma ville</button>
        </div>

    </div>

    <div class="row" *ngIf='voirTout==false'>
        <div class="col-lg-offset-1 col-lg-5">
            Voici la liste des competences de : {{ville}}
        </div>
        <div class="col-lg-offset-1 col-lg-2">
            <button *ngIf='isAuth==true' (click)="voirToute()"> Voir toutes les compétences</button>
        </div>

    </div>




      <table class="table table-bordered table-striped">
      			<tr>
      				<th>Descriptif </th>
      				<th>Mots clés </th>
      				<th>Disponibilite </th>
      				<th>S'inscrire</th>

      			</tr>

                  <tr *ngFor="let competence of competences">

                     <td>{{competence.descriptif}}</td>
                     <td>{{competence.mots_clefs}}</td>
                     <td><ul>
                         <li *ngFor="let dispo of competence.disponibilite">
                             {{dispo.date}}, {{dispo.heureD}}, {{dispo.heureF}}, {{dispo.statut}}
                         </li>
                     </ul></td>
                     <td> <button (click)="inscription(competence._id)">S'inscrire</button> </td>


                  </tr>

      		</table>
</div>
