<div name='formulaireCompetence' class="formulaire">
    Creation d'une nouvelle compétence :

    <form class="form-group"(ngSubmit)="onSubmit(f)" #f="ngForm">

        <div class="row">
            <div class="col-lg-3">
                <label for="descriptif"> descriptif * :</label>
            </div>
            <div class="col-lg-5">
                <input type="text" placeholder="descriptif" class="form-control" id="descriptif" name="descriptif" ngModel required />
            </div>

        </div>

        <div class="row">
            <div class="col-lg-3">
                <label for="mots_clefs"> Mots clefs * :</label>
            </div>
            <div class="col-lg-5">
                <input type="text" class="form-control" placeholder="Mots clés" id="mots_clefs" name="mots_clefs" ngModel required/>
            </div>
        </div>

        <div class="row">
            <button class="btn btn-primary mb-2" type="submit" [disabled]="f.invalid">Enregistrer</button> 
            <button class="btn btn-primary mb-2" type="button" name="" (click)="retourAccueil()"> Annuler </button>
        </div>


    </form>
</div>
