<div class="row">

    <button *ngIf='isAuth==true' (click)="versMesCompetences()"> Mes compétences</button>
</div>
<div class="row">

    Modification de la competence: <br/>
    {{competence.descriptif}}


    <form class="form-group"(ngSubmit)="onSubmit(f)" #f="ngForm">

        <div class="row">
            <div class="col-lg-3">
                <label for="descriptif"> descriptif * :</label>
            </div>
            <div class="col-lg-5">
                <input type="text" value={{competence.descriptif}} placeholder="descriptif" class="form-control" id="descriptif" name="descriptif" ngModel required />
            </div>

        </div>

        <div class="row">
            <div class="col-lg-3">
                <label for="mots_clefs"> Mots clefs * :</label>
            </div>
            <div class="col-lg-5">
                <input type="text" value={{competence.mots_clefs}} class="form-control" placeholder="Mots clés" id="mots_clefs" name="mots_clefs" ngModel required/>
            </div>
        </div>



        <div class="row">
            <button class="btn btn-primary mb-2" type="submit" [disabled]="f.invalid">Enregistrer</button>
        </div>


    </form>

</div>

Liste des disponibilités :
<table class="table table-bordered table-striped">
    <tr>
        <th>Date </th>
        <th>Heure début</th>
        <th>Heure fin </th>
        <th>Status </th>
    </tr>

    <tr *ngFor="let dispo of competence.disponibilite">

        <td>{{dispo.date}}</td>
        <td>{{dispo.heureD}}</td>
        <td>{{dispo.heureF}}</td>
        <td>{{dispo.status}}</td>
    </tr>

</table>


<div>
    <form class="form-group"(ngSubmit)="onSubmitDispo(f)" #f="ngForm">
        <div class="row">
            <div class="col-lg-2">
                <label for="date"> Date :</label>
            </div>
            <div class="col-lg-2">
                <input type="date" class="form-control" id="date" name="date" ngModel required />
            </div>
            <div class="col-lg-2">
                <label for="heureD"> Heure début :</label>
            </div>
            <div class="col-lg-2">
                <input type="time" class="form-control" id="heureD"  name="heureD" ngModel required />
            </div>
            <div class="col-lg-2">
                <label for="heureF"> Heure fin:</label>
            </div>
            <div class="col-lg-2">
                <input type="time" class="form-control" id="heureF" name="heureF" ngModel required/>
            </div>
        </div>
        <button class="btn btn-primary mb-2" type="submit" [disabled]="f.invalid">Ajouter une disponibilite</button>
    </form>
</div>
